.Rproj.user
.Rhistory
.RData
.Ruserdata
Die_ersten_Schritte_in_R_DOZENTENVERSION.docx
Die_ersten_Schritte_in_R_DOZENTENVERSION.tex
Die_ersten_Schritte_in_R_DOZENTENVERSION.log
Die_ersten_Schritte_in_R_DOZENTENVERSION_files/
QMWInf-Duesseldorf-Block-SoSe-2019-20.Rproj
tips.csv